h1 {
    text-align: center;
    text-decoration: underline;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html {
    border: 1px dotted black;
}

body {
    border: red solid;
}

.container {
    padding: 10%;
}

.container div {
    border: 1px solid cadetblue;
}

.sporty h2 {
    color: red;
}


/* h2 {
    color : navy;
    font-size: 30px;
}

p {
    background-color: aquamarine;
    color: blue;
} */